.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 15px;
  background: black;
}

html {
  background: black;
}

.personObj {
  width: 300px;
  margin: auto;
  margin-top: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

.personName {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  padding: 5px;
}

input {
  background: white;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  width: 350px;
  border-radius: 5px;
  font-size: 17px;
}

select {
  width: 370px;
  margin: auto;
  padding: 10px;
  height: 35px;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
